# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/coding-standards/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
indent_style = tab
ij_smart_tabs = false
ij_wrap_on_typing = true
ij_any_blank_lines_before_package = 0
ij_any_blank_lines_after_package = 1
ij_any_blank_lines_before_imports = 1
ij_php_blank_lines_between_imports = 0
ij_any_blank_lines_after_imports = 1
ij_php_blank_lines_after_function = 1
ij_php_blank_lines_after_opening_tag = 0
ij_php_blank_lines_before_return_statement = 1
ij_any_blank_lines_before_method_body = 0
ij_any_blank_lines_before_class_end = 0
ij_any_blank_lines_around_method = 1
ij_any_blank_lines_around_field = 1
ij_php_blank_lines_around_constants = 1
ij_any_blank_lines_around_class = 0
ij_any_blank_lines_after_class_header = 0
ij_any_class_brace_style = next_line
ij_any_method_brace_style = next_line
ij_any_block_brace_style = next_line
ij_php_anonymous_brace_style = end_of_line
ij_any_lambda_brace_style = end_of_line
ij_php_align_key_value_pairs = true
ij_php_force_short_declaration_array_style = true
ij_any_array_initializer_new_line_after_left_brace = true
ij_any_array_initializer_right_brace_on_new_line = true
ij_any_array_initializer_wrap = on_every_item
ij_php_comma_after_last_array_element = true
ij_any_align_multiline_array_initializer_expression = true
ij_php_fields_default_visibility = private
ij_any_keep_simple_methods_in_one_line = true
ij_any_spaces_within_method_parentheses = false
ij_any_space_before_method_call_parentheses = false
ij_any_space_before_method_left_brace = true
ij_any_space_before_method_parentheses = false
ij_any_spaces_within_method_call_parentheses = false
ij_php_if_brace_force = always
ij_php_else_if_style = separate
ij_php_if_lparen_on_next_line = true
ij_php_if_rparen_on_next_line = true
ij_any_space_before_if_left_brace = true
ij_any_space_before_if_parentheses = true
ij_any_spaces_within_if_parentheses = false
ij_any_special_else_if_treatment = false
ij_html_quote_style = double

[*.yml]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
